.searchResultsPage {
  min-height: (100vh)-25;
}

.searchResultsTitle {
  padding: 20px;
}

.noSearchResults {
  margin: 0 auto;
}

.searchResults {
  margin-left: 150px !important;
}

.searchResult {
  margin: 30px !important;
}

.searchResultImage {
  max-height: 100px;
}
